html, body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    font-size: 90%;
    font-family: 'Comic Neue', cursive, Helvetica, Arial, sans-serif;
    background-image: url('../images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#root {
    display: flex;
    justify-content: center;
}

span {
    margin: 5px;
    color: #ffffff;
}

.person-image {
    width: 100%;
    align-self: center;
}

.persons {
    width: 50%;
    height: 2000px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 15px;
}

.persons > div {
    width: 260px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    margin: 10px;
    border-radius: 25px;
    background-color: rgba(51, 51, 51, 0.9);
}

.persons > div:hover {
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.name {
    border-radius: 25px 25px 0 0;
    width: 100%; 
    height: 40px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 150%;
    padding: 0;
    margin: 0;
    color: #ffffff;
    background-color: rgba(51, 51, 51, 1);
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 170%;
    width: 100%;
    height: 60px;
    overflow: hidden;
    background-color: #333;
}
  
#navbar a {
    color: #f2f2f2;
    padding: 14px;
    text-decoration: none;
    cursor: pointer;
}

#navbar a:hover {
    color: #333;
    background-color: #f2f2f2;
    transition: 1s;
}

#arrowUp {
    position: fixed;
    right: 10px; 
    bottom: 10px;
}

#arrowUp a {
    font-size:48px; 
    color: #333;
}
